{% extends 'base.html.twig' %}

{% block title %}Edit Playlist
{% endblock %}

{% block body %}
	<div class="card mt-4 shadow border-0 mb-4">

		<div class="card-body">
			<h5 class="card-title">New Playlist</h5>
			<p class="card-text">New item to this entity will be added. This will take direct action over the representation to the WEB UI.</p>

			<form method="post" enctype="multipart/form-data" class="w-50">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="description">Created At</label>
					<input type="date" id="created_at" name="created_at" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="user_id">User</label>
					<select id="user_id" name="user_id" class="form-control">
						<option value="">Select User</option>
						{% for user in allUsers %}
							<option value="{{ user.id }}">{{ user.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="pt-2">
					<button type="submit" class="btn btn-primary">Create Playlist</button>
					<a href="{{ path('playlist_index') }}" class="btn btn-primary">Back to list</a>
				</div>
			</form>


		</div>
	</div>
{% endblock %}
