{% extends 'base.html.twig' %}

{% block title %}New Coupons
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between mt-2 pt-2">
		<div class="d-flex align-items-center row">
			<div>
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); font-wiight:" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('dashboard_index') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item" aria-current="page">
							<a href="{{ path('coupon_index') }}">Coupons</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							New
						</li>
					</ol>
				</nav>
			</div>
			<div class="h1">
				New Coupons
			</div>
		</div>
	</div>
	<p class="text-secondary">New item to this entity will be added. This will take direct action over the representation to the WEB UI.</p>

	<div class="card mt-1 shadow border-0 mb-4">
		<div class="card-body">
			<form method="post" enctype="multipart/form-data" class="w-50">
				<div class="form-group">
					<label for="course_id">Course</label>
					<select id="course_id" name="course_id" class="form-control" required>
						<option value="">Select Course</option>
						{% for course in allCourses %}
							<option value="{{ course.id }}">{{ course.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="name">Total Coupons</label>
					<input type="number" id="total_coupons" name="total_coupons" class="form-control" value="10" required>
				</div>
				<div class="form-group">
					<label for="absolute_discount">Absolute Discount in $</label>
					<input type="number" id="absolute_discount" name="absolute_discount" min="1" value="5" class="form-control" required>
				</div>

				<div class="pt-2">
					<button type="submit" class="btn btn-primary">Create Coupons</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
