{% extends 'base.html.twig' %}

{% block title %}Mail Service
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between mt-2 pt-2">
		<div class="d-flex align-items-center row">
			<div>
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); font-wiight:" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('dashboard_index') }}">Dashboard</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Mail Service
						</li>
					</ol>
				</nav>
			</div>
			<div class="h1">
				<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewbox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
				
                Mail Service
			</div>
		</div>
	</div>
	<p class="text-secondary">
		<strong class="text-primary">MailSender</strong>
		is a top-notch email marketing platform designed to help businesses efficiently send emails and create eye-catching templates. With its advanced email template builder and user-friendly interface, MailSender.com empowers marketers to design, manage, and optimize their email campaigns with ease. It’s an excellent choice for businesses aiming to engage their audience, drive conversions, and build lasting relationships through effective email marketing.
	</p>

	<div class="card mt-1 shadow border-0 mb-4">
		<div class="card-body">

			<div class="row">
				<div class="col-md-6">
					<img src="https://app.mailersend.com/images/logo/mailersend.svg" class="img-fluid w-100 pt-5"/>
				</div>
				<div class="col-md-6">
					<div class="text-end">
						<a href="https://mailersend.com" target="_blank">How to connect?</a>
					</div>
					<form method="post">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" id="name" name="name" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="name">Token</label>
							<input type="text" id="name" name="name" class="form-control" required>
						</div>

						<div class="pt-4 text-end">
							<button type="submit" class="btn btn-outline-primary">Test connection</button>
							<button type="submit" class="btn btn-primary">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
